html, body {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-image: url(../images/Login/LoginBack.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 0px;
}

.login {
	max-width: 400px;
	min-height: 400px;
	margin: 100px auto;
	background-color: rgba(0,0,0,.68) !important;
	/*box-shadow: inset 3px -3px 0px rgba(0, 0, 0, 0.2)*/
	border-radius: 20px 20px 20px 20px;
}

.login-icon-field {
	height: 100px;
	width: 100%;
	text-align: center;
	background-color: rgba(0,0,0,.78) !important;
	border-radius: 20px 20px 0 0;
	border-bottom-style: groove;
}

	.login-icon-field img {
		width: 80%;
		margin-top: 15px;
	}

.login-form {
	margin-top: 35px;
	margin-bottom: 35px;
	padding: 0px 20px 20px;
	height: 130px;
	max-width: 400px;
	border-bottom-style: groove;
}

.username-row {
	position: relative;
	height: 40px;
	border-bottom: 1px solid;
	border-color: white;
	margin-bottom: 10px;
}

.password-row {
	position: relative;
	height: 40px;
	border-color: white !important;
	border-bottom: 1px solid;
}

.password-icon,
.user-icon {
	margin: 5px;
}

	.password-icon .key-path,
	.user-icon .user-path {
		fill: rgba(10,10,10,0);
		stroke: #fff;
		stroke-width: 3.5;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-miterlimit: 10;
		stroke-dasharray: 300;
		stroke-dashoffset: 300;
		-webkit-animation: dash 3s .3s linear forwards;
		animation: dash 3s .3s linear forwards;
	}

	.user-icon .user-path {
		-webkit-animation: dash 3s .8s linear forwards;
		animation: dash 3s .8s linear forwards;
	}

.call-to-action {
	margin: 10px 0;
	width: 100%;
	text-align: center;
	/*background-color: blue;*/
}

input {
	position: absolute;
	width: 195px;
	height: 30px;
	margin: 5px 0;
	background: transparent;
	border: none;
	color: white;
}

	input:focus,
	button:focus {
		outline: none;
	}

	input::-webkit-input-placeholder {
		color: rgba(255,255,255,.4);
	}

	input::-moz-placeholder {
		color: rgba(255,255,255,.4);
	}

label,
p a:hover {
	-webkit-cursor: pointer;
	cursor: pointer;
}

@-webkit-keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

input::placeholder {
	color: white !important;
}

button {
	width: 240px;
	height: 40px;
	padding: 0;
	font-weight: 700;
	color: #fff;
	background-color: #87bd2e;
	border: none;
	border-radius: 20px;
	transition: background-color .10s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

	button:hover {
		background-color: #65a300;
	}

	button:active {
		background-color: #65a300;
	}
