@model CODE.Cliente

@{
	string mensagemErro;
	CODE.LicenciamentoAmbientalBLL licenciamentoAmbientalBLL = new CODE.LicenciamentoAmbientalBLL();
	List<CODE.LicenciamentoAmbiental> Concorrentes = licenciamentoAmbientalBLL.getLicenciamentoAmbiental(null, null, out mensagemErro);
	List<SelectListItem> listaConcorrentes = new List<SelectListItem>();
	foreach (CODE.LicenciamentoAmbiental item in Concorrentes)
	{
		listaConcorrentes.Add(new SelectListItem()
		{
			Text = item.RazaoSocial,
			Value = item.Codigo.ToString()
		});
	}
}

<div class="panel" id="divPartialLicenciamentoNew">
	<input type="hidden" id="paginaCarregadaLicenciamento" value="false" />
	<header class="panel-heading">
		<h4 id="headerAluno">NOVA EMPRESA LICENCIAMENTO AMBIENTAL</h4>
		<div class="top-nav">
			<a id="btnAdicionarLicenciamento" class="btn btn-primary" onclick="return jsAdicionarLicenciamento();"><span aria-hidden="true" class="zmdi zmdi-floppy"></span> &nbsp; ADICIONAR</a>
		</div>
	</header>
	<div class="panel-body">
		<div class="row">
			<div class="form-group col-sm-4">
				<label class="required">Licenciamento Ambiental</label>
				@Html.DropDownList("ddlLicenciamentos", listaConcorrentes, "Selecione...", new { @class = "select2" })
				<i class="form-group__bar"></i>
			</div>
		</div>
	</div>
</div>

<div class="panel" id="divPartialLicenciamentoResult">
	<header class="panel-heading">
		<h4>LISTA DE EMPRESAS DE LICENCIAMENTO AMBIENTAL</h4>
	</header>
	<div class="panel-body">
		<input type="hidden" id="hfListaLicenciamentoAmbiental" name="hfListaLicenciamentoAmbiental" />
		<table id="tbResultadoLicenciamentoAmbiental" class="table table-hover">
			<thead class="thead-default">
				<tr>
					<th class="center">AÇÕES</th>
					<th class="center">RAZÃO SOCIAL</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

<script type="text/javascript">

	var arrayLicenciamentoAmbiental = [];

	function openPartialLicenciamento() {
		if ($('#paginaCarregadaLicenciamento').val() == 'false') {
			var data = {
				codigoCliente: @(Model == null ? "-1" : Model.Codigo.ToString())
			}
			$.ajax({
				type: "GET",
				url: "/Cliente/GetLicenciamentos/",
				data: data,
				async: true,
				success: function (result) {
					if (result) {
						if (result != "") {
							arrayLicenciamentoAmbiental = result;
							MontarTabelaLicenciamentoAmbiental();
							$('#paginaCarregadaLicenciamento').val('true');
						}
					}
				}
			});
		}
	}

    function MontarTabelaLicenciamentoAmbiental() {

        var tabelaObjeto = document.getElementById('tbResultadoLicenciamentoAmbiental');
        removeAllChilds(tabelaObjeto);

        if (tabelaObjeto.tHead == null) {
            var listaColunas = ["AÇÕES", "RAZÃO SOCIAL"];
            jsAdicionarCabecalhoTabela(tabelaObjeto, listaColunas, 'center');
        }

        var tbody = jsAdicionarCorpoTabela(tabelaObjeto);

        for (i = 0; i < arrayLicenciamentoAmbiental.length; i++) {

            var tr = document.createElement('tr');
            var td1 = document.createElement('td');
            var td2 = document.createElement('td');

            td1.setAttribute("class", "center");
            td2.setAttribute("class", "center");

			td1.innerHTML = '<a href="#" title="Excluir" onclick="jsRemoverLicenciamentoAmbiental(' + i + ');"><span aria-hidden="true" class="zmdi zmdi-delete"></span></a>';
            td2.innerHTML = arrayLicenciamentoAmbiental[i].concorrente.razaoSocial;

            var listaColunas = [td1, td2];

            jsAdicionarLinhaTabela(listaColunas, tr);

            tbody.appendChild(tr);
        }
    }

	function jsAdicionarLicenciamento() {

        if (jsValidarCamposLicenciamentoAmbiental()) {

            var _concorrente = {
                codigo: "",
                codigoCliente: @(Model == null ? "-1" : Model.Codigo.ToString()),
				concorrente: { codigo: $('#ddlLicenciamentos option:selected').val(), razaoSocial: $('#ddlLicenciamentos option:selected').text() },
				tipo: 1
			};

			arrayLicenciamentoAmbiental.push(_concorrente);

			OpenAlert("Sucesso!", "Inclusão realizada com sucesso!", "success");

			$('#hfListaLicenciamentoAmbiental').val(JSON.stringify(arrayLicenciamentoAmbiental));

			MontarTabelaLicenciamentoAmbiental();

			$('#ddlLicenciamentos').val('');
			$('#ddlLicenciamentos').trigger('change');

		}

		return false;

	}

	function jsValidarCamposLicenciamentoAmbiental() {

		var codigo = $('#ddlLicenciamentos option:selected').val();

		if (codigo == "") {
			OpenAlert("Atenção!", "Informe o licenciamento ambiental!", "danger");
			return false;
		}

		for (var i = 0; i < arrayLicenciamentoAmbiental.length; i++) {

			if (codigo == arrayLicenciamentoAmbiental[i].concorrente.codigo) {
				OpenAlert("Atenção!", "A relação com a empresa já foi cadastrada!", "danger");
				return false;

			}

		}

		return true;

	}

	function jsRemoverLicenciamentoAmbiental(i) {

		var concorrente = arrayLicenciamentoAmbiental[i];

		if (concorrente.codigo == "") {

			arrayLicenciamentoAmbiental.splice(i, 1);

			$('#hfListaLicenciamentoAmbiental').val(JSON.stringify(arrayLicenciamentoAmbiental));

			MontarTabelaLicenciamentoAmbiental();

		} else {

			jsLoading(true);

			var data = {
				codigo: concorrente.codigo
			}
			$.ajax({
				type: "POST",
				url: "/Cliente/DeleteRelacaoLicenciamento/",
				data: data,
				async: false,
				success: function (result) {
					if (result.sucesso) {
						arrayLicenciamentoAmbiental.splice(i, 1);

						$('#hfListaLicenciamentoAmbiental').val(JSON.stringify(arrayLicenciamentoAmbiental));

						MontarTabelaLicenciamentoAmbiental();

						jsLoading(false);

						OpenAlert("Sucesso!", result.mensagem, "success");
					} else {
						OpenAlert("Atenção!", result.mensagem, "danger");
						jsLoading(false);
					}
				}
			});
		}
	}

</script>