<div id="divPartialEmailsView" class="modalAlerta animate-zoom" style="display:none">
	<div class="contentModal">
		<!--MODAL HEADER-->
		<div class="modal-header">
			<h5>EMAILS</h5>
		</div>
		<!--MODAL CONTENT-->
		<div class="modal-content" style="max-height:400px;">
			<div class="table-responsive">
				<table name="tabelaResultado" class="table table-bordered table-striped"></table>
			</div>
		</div>
		<!--MODAL FOOTER-->
		<div class="modal-footer">
			<button class="btn btn-secondary" onclick="closeModal(this)">FECHAR</button>
		</div>
	</div>
</div>

<script type="text/javascript">

	function jsOpenPartialEmailsView(arrayEmails) {
		if (arrayEmails) {
			MontarTable(arrayEmails);
		}

		$('#divPartialEmailsView').fadeIn();
	}

	function MontarTable(arrayEmails) {

		var tabelaObjeto = document.getElementsByName('tabelaResultado')[0];
		removeAllChilds(tabelaObjeto);

		if (tabelaObjeto.tHead == null) {
			var listaColunas = ["CÓDIGO", "DESCRIÇÃO"];
			jsAdicionarCabecalhoTabela(tabelaObjeto, listaColunas);
		}

		var tbody = jsAdicionarCorpoTabela(tabelaObjeto);

		for (i = 0; i < arrayEmails.length; i++) {

			var tr = document.createElement('tr');
			var td1 = document.createElement('td');
			var td2 = document.createElement('td');

			td1.innerHTML = arrayEmails[i].codigo;
			td2.innerHTML = arrayEmails[i].descricao;
			var listaColunas = [td1, td2];

			jsAdicionarLinhaTabela(listaColunas, tr);

			tbody.appendChild(tr);
		}
	}

</script>