@model CODE.Cliente

<div class="panel" id="divPartialOrcamentosResult">
	<input type="hidden" id="paginaCarregadaOrcamentos" value="false" />
	<header class="panel-heading">
		<h4 class="accordion-toggle" data-toggle="collapse" href="#divCollapseOrcamentos" aria-expanded="false">LISTA ORÇAMENTOS</h4>
		<div class="top-nav">
			<a id="btnNovoOrcamento" class="btn btn-primary" onclick="return jsNovoOrcamento(@Html.Raw(Model.Codigo));"><span aria-hidden="true" class="zmdi zmdi-floppy"></span> &nbsp; NOVO ORÇAMENTO</a>
		</div>
	</header>
	<div id="divCollapseOrcamentos" class="panel-collapse collapse show">
		<div class="panel-body">
			<table id="tbResultadoOrcamentos" class="table table-hover table-striped table-bordered">
				<thead class="thead-default">
					<tr>
						<th class="center">CÓDIGO</th>
						<th class="center">DATA CADASTRO</th>
						<th class="center">DATA EXPIRAÇÃO</th>
						<th class="center">VENDEDOR</th>
						<th class="center">STATUS</th>
						<th class="center">VALOR</th>
						<th class="center">AÇÕES</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">

	function jsNovoOrcamento(codigoCliente)
	{
		window.location.assign("@Url.Action("NovoOrcamento", "CabecalhoOrcamento")?CodigoCliente=" + codigoCliente);
	}

	function openPartialOrcamentos() {

		if ($('#paginaCarregadaOrcamentos').val() == 'false'){
			var data = {
				codigoCliente: @(Model == null ? "-1" : Model.Codigo.ToString())
			};
			$.ajax({
				type: "GET",
				url: "/Cliente/GetOrcamentos/",
				data: data,
				success: function (result) {
					if (result.sucesso) {
						MontarTabelaOrcamentos(result.resultado);
						$('#paginaCarregadaOrcamentos').val('true');
						$('#tbResultadoOrcamentos').each(function () {
							$(this).dataTable();
						});
					}
				}
			});
		}
	}

    function MontarTabelaOrcamentos(arrayPedidos) {

        var tabelaObjeto = document.getElementById('tbResultadoOrcamentos');
        removeAllChilds(tabelaObjeto);

        if (tabelaObjeto.tHead == null) {
            var listaColunas = ["CÓDIGO", "DATA CADASTRO", "DATA EXPIRAÇÃO", "VENDEDOR", "STATUS", "VALOR", "AÇÕES"];
            jsAdicionarCabecalhoTabela(tabelaObjeto, listaColunas, 'center');
        }

        var tbody = jsAdicionarCorpoTabela(tabelaObjeto);

        for (i = 0; i < arrayPedidos.length; i++) {

            var tr = document.createElement('tr');
            var td1 = document.createElement('td');
            var td2 = document.createElement('td');
            var td3 = document.createElement('td');
            var td4 = document.createElement('td');
            var td5 = document.createElement('td');
            var td6 = document.createElement('td');
            var td7 = document.createElement('td');

            td1.setAttribute("class", "center");
            td2.setAttribute("class", "center");
            td3.setAttribute("class", "center");
            td4.setAttribute("class", "center");
            td5.setAttribute("class", "center");
            td6.setAttribute("class", "center");
            td7.setAttribute("class", "center");

            td1.innerHTML = arrayPedidos[i].codigo;
            td2.innerHTML = moment(arrayPedidos[i].dataCadastro).format('DD/MM/YYYY HH:mm');
            td3.innerHTML = moment(arrayPedidos[i].dataExpiracao).format('DD/MM/YYYY HH:mm');
            td4.innerHTML = arrayPedidos[i].nomeVendedor;
            td5.innerHTML = arrayPedidos[i].statusOrcamento;
			td6.innerHTML = mascaraValor(arrayPedidos[i].valorOrcamento.toFixed(2));
			td7.innerHTML = '<a href="#" title="Editar" onclick="jsEditarOrcamento(' + arrayPedidos[i].codigo + ');"><span aria-hidden="true" class="zmdi zmdi-edit"></span></a>&nbsp;&nbsp;' +
							'<a href= "#" title= "Baixar PDF" onclick= "jsBaixarPDF(' + arrayPedidos[i].codigo + ');" ><span aria-hidden="true" class="zmdi zmdi-archive"></span></a >';

            var listaColunas = [td1, td2, td3, td4, td5, td6, td7];

            jsAdicionarLinhaTabela(listaColunas, tr);

            tbody.appendChild(tr);
        }
	}

	function jsEditarOrcamento(codigoOrcamento) {
		window.location.assign("@Url.Action("Edit","CabecalhoOrcamento")/?codigoOrcamento=" + codigoOrcamento);
	}

	function jsBaixarPDF(codigoOrcamento) {
		swal({
			title: 'Deseja remover a coluna de desconto?',
			text: "",
			type: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Sim!',
			cancelButtonText: 'Não!',
			closeOnConfirm: false,
			closeOnCancel: false
		}).then(function (result) {
			window.location.assign("/CabecalhoOrcamento/GerarPDF/?codigoOrcamento=" + codigoOrcamento + "&removerColunaDesconto=true")
		}).catch(function (result) {
			if (result === 'cancel') {
				window.location.assign("/CabecalhoOrcamento/GerarPDF/?codigoOrcamento=" + codigoOrcamento + "&removerColunaDesconto=false");
			}
		});
	}

</script>